<!-- footer-6 -->
        <footer class="footer-6">
            <div class="container">
                <div class="row">
                    <nav>
                    <div class="hidden-xs hidden-sm col-xs-1">
                            <h6>Company</h6>
                        </div>
                        <div class="hidden-xs hidden-sm col-xs-2">
                            <ul>
                                <li> <%= link_to "About", about_path %> </li>
                                <li> <%= link_to "Clients", clients_path %> </li>
                                <li> <%= link_to "Contacts", contacts_path %> </li>
                            </ul>
                        </div>
                        <div class="hidden-xs hidden-sm col-xs-1">
                            <h6>Products</h6>
                        </div>
                        <div class="hidden-xs hidden-sm col-xs-2">
                            <ul>
                                <li> <%= link_to "Automation", automation_path %> </li>
                                <li> <%= link_to "Switchboards", switchboards_path %> </li>
                                <li> <%= link_to "Electrical Construction", construction_path %> </li>
                                <li> <%= link_to "Fittings HV, MV", fittings_path %> </li>
                                <li> <%= link_to "Cableholder Trolleys", cableholder_path %> </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-xs-7 col-md-3"> 
                        <img src="/assets/img/CSQ.jpg" />   
                        </div>
                    <div class="col-xs-5 col-md-3">
                        <div>
                            <%= link_to "Philip Electric", root_path, class: "brand" %>
                            <p style="font-size:16px;"> Copyright &copy; 2014<br/>Philip Electric & Co. Srl<br/> RO33543658 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>